<!DOCTYPE html>
<html 
	lang="es" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla/plantilla}"
>
<head>
    <title>Lista Inscripcions</title>
</head>

<body>
<!-- Pre-loader start -->
<div layout:fragment="espaciocontenidohtml">
                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Sample Page</h5>
                                        <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a th:href="@{themeassets/index.html}"> <i class="fa fa-home"></i> </a>
                                        </li>
                                        <li class="breadcrumb-item"><a th:href="@{themeassets/#!}">Pages</a>
                                        </li>
                                        <li class="breadcrumb-item"><a th:href="@{themeassets/#!}">Sample Page</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5> Inscripcion</h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li><i class="fa fa-chevron-left"></i></li>
                                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                                            <li><i class="fa fa-times close-card"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                	<div class="card-body" >
	                                                    <form th:action="@{/insertar_inscripciones}" th:object="${nuevoInscripciones}" method="post" class="form-material">
														  	<div class="form-group form-default">
																
																	<select name="curso" th:field="*{fkCurso.idCurso}"  required class="form-control" >
																		<option 
																			th:each="cursos:${listarCursos}" 
																			 
																			th:value="${cursos.idCurso}" 
																			th:text="${cursos.nombre}"
																			></option>	
																	</select>
																	 <span
																	class="form-bar"></span> <label class="float-label">Cursos</label>
															</div>
															<div class="form-group form-default">
																
																	<select name="estudiantes" th:field="*{fkEstudiante.idEstudiante}"  required class="form-control" >
																		<option 
																			th:each="estudiantes:${listarEstudiantes}" 
																			th:value="${estudiantes.idEstudiante}" 
																			th:text="${estudiantes.nombreEstudiante}" 
																			
																			th:selected="(${estudiantes.idEstudiante} == *{fkEstudiante})" 
   																			th:readonly="(${estudiantes.idEstudiante} == *{fkEstudiante})" 
																			></option>	
																	</select>
																	 <span
																	class="form-bar"></span> <label class="float-label">Estudiante</label>
															</div>
														  	<div class="form-group form-default">
																<input type="date" name="fecha" class="form-control"
																	th:field="*{fechaInscripcion}" required> <span
																	class="form-bar"></span> <label class="float-label">Fecha</label>
															</div>
															<div class="checkbox-fade fade-in-primary d-">
																<label> <input type="checkbox" value=""
																	th:field="*{estadoInscripcion}"> <span class="cr"><i
																		class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
																	<span class="text-inverse">Activo</span>
																</label>
															</div>			
															
															<div class="form-group form-default">
																<button type="submit" class="btn btn-primary">Guardar</button>
															</div>
			
															<input type="hidden" th:field="*{idInscripcion}">
														</form>
                                                	</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
</div>


</body>

</html>