<!DOCTYPE html>
<html 
	lang="es" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla/plantilla}"
>
<head>
    <title>Lista Contenido</title>
</head>

<body>
<!-- Pre-loader start -->
<div layout:fragment="espaciocontenidohtml">
       <div class="pcoded-content">
           <!-- Page-header start -->
           <div class="page-header">
               <div class="page-block">
                   <div class="row align-items-center">
                       <div class="col-md-8">
                           <div class="page-header-title">
                               <h5 class="m-b-10">Sample Page</h5>
                               <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <ul class="breadcrumb-title">
                               <li class="breadcrumb-item">
                                   <a th:href="@{themeassets/index.html}"> <i class="fa fa-home"></i> </a>
                               </li>
                               <li class="breadcrumb-item"><a th:href="@{themeassets/#!}">Pages</a>
                               </li>
                               <li class="breadcrumb-item"><a th:href="@{themeassets/#!}">Sample Page</a>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
           <!-- Page-header end -->
           <div class="pcoded-inner-content">
               <div class="main-body">
                   <div class="page-wrapper">
                       <div class="page-body">
                           <div class="row">
                               <div class="col-sm-12">
                                   <div class="card">
                                       <div class="card-header">
                                       <a title="Nuevo inscripcion" th:href="@{/inscripciones_nuevo}" class="btn btn-success">
                                       	<i class="fa fa-plus"></i> Nuevo
                                       </a>
                                           
                                       </div>
                                       <div class="card-block">
                                           <div class="card-body">
                                        	<table id="example" class="table table-striped" style="width:100%">
										        <thead>
										            <tr>
										                <th>#</th>
										                <th>ESTUDIANTE</th>
										                <th>INSCRIPCION</th>
										                <th>FECHA REGISTRO</th>
										                <th>ESTADO</th>
										                <th></th>
										            </tr>
										        </thead>
										        <tbody>
				
     												<tr th:each="inscripcion:${lista}">
										                <td th:text="${inscripcion.idInscripcion}"></td>
										               
										                <td th:text="${inscripcion.fechaInscripcion}"></td>
										                <td th:text="${inscripcion.estadoInscripcion}"></td>
										                
										                <td>
										                	<a th:href="@{/editar_inscripciones/}+${inscripcion.idInscripcion}" class="btn btn-warning">
										                		<i class="fa fa-pencil"></i> Editar
										                	</a>
										                	<a th:href="@{/eliminar_inscripciones/}+${inscripcion.idInscripcion}" class="btn btn-danger">
										                		<i class="ti-trash"></i> Eliminar
										                	</a>
										                </td>	
										                
										            </tr> 
										                
										           
										            
										        </tbody>
				        
				    						</table>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
                
         
</div>


</body>

</html>
