<!DOCTYPE html>
<html 
	lang="es" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantilla/plantilla}"
>
<head>
    <title>Lista Curso Contenido</title>
</head>

	<body>
		<!-- Pre-loader start -->
		<div layout:fragment="espaciocontenidohtml">
			<div class="pcoded-content">
				<!-- Page-header start -->
				<div class="page-header">
					<div class="page-block">
						<div class="row align-items-center">
							<div class="col-md-8">
								<div class="page-header-title">
									<h5 class="m-b-10">Lista Curso Contenido</h5>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- Page-header end -->
				<div class="pcoded-inner-content">
					<div class="main-body">
						<div class="page-wrapper">
							<div class="page-body">
								<div class="row">
									<div class="col-sm-12">
										<div class="card">
											<div class="card-header">
											<a title="Nuevo contenido" th:href="@{/contenido_nuevo}" class="btn btn-warning">
												<i class="fa fa-plus"></i> Nuevo Contenido
											</a>
											<a title="Nuevo curso" th:href="@{/curso_nuevo}" class="btn btn-primary">
												<i class="fa fa-plus"></i> Nuevo Curso
											</a>
											
											<a title="Nuevo curso" th:href="@{/curso_contenido_nuevo}" class="btn btn-success">
												<i class="fa fa-plus"></i> Asociar Curso con Contenido
											</a>
											</div>
											<div class="card-block">
												<div class="card-body">
												 <table id="example" class="table table-striped" style="width:100%">
													 <thead>
														 <tr>
															 <th>#</th>
															 <th>Curso</th>
															 <th>Descripcion Curso</th>
															 <th>Contenido</th>
															 <th>Descripcion Contenido</th>
															
															 <th></th>
														 </tr>
													 </thead>
													 <tbody>
														<tr th:each="cc:${lista}">
															<td th:text="${cc.idCursoContenido}"></td>
															<td th:text="${cc.curso.nombre}"></td>
															<td th:text="${cc.curso.descripcion}"></td>
															<td th:text="${cc.contenidos.tituloContenido}"></td>
															<td th:text="${cc.contenidos.descripcionContenido}"></td>
														   
															<td>
																<a th:href="@{/editar_contenido/}+${cc.idCursoContenido}" class="btn btn-warning">
																	<i class="fa fa-pencil"></i> Editar
																</a>
																<a th:href="@{/eliminar_contenido/}+${cc.idCursoContenido}" class="btn btn-danger">
																	<i class="ti-trash"></i> Eliminar
																</a>
															</td>
														</tr>
						
														 
													 </tbody>
							 
												 </table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>